---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  name: string;
  position: string;
  company: string;
  presentationTitle: string;
  event?: string;
  width: number;
  link?: string;
  image: ImageMetadata;
  class?: string;
}

const {
  name,
  position,
  company,
  presentationTitle,
  event,
  image,
  link = "",
  width = 400,
  class: className,
} = Astro.props;
---

<div
  class:list={[
    "max-w-xs bg-green-100 shadow-green-100 rounded-2xl shadow-lg overflow-hidden border-2",
    className,
  ]}
>
  <a href={link} target="_blank" rel="noopener noreferrer">
    <div class="w-full aspect-[3/4] overflow-hidden">
      <Image
        src={image}
        alt={name}
        width={width}
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>

    <div>
      <h3 class="text-xl px-4 py-3 border-t-2 font-bold text-gray-900">
        {name}
      </h3>
      {
        position && company && (
          <p class="text-sm px-4 text-gray-900">
            <span>{position}</span>,<span class="font-bold"> {company}</span>
          </p>
        )
      }

      <dl class="p-4">
        {
          event && (
            <dt class="text-xs rounded-t-xl bg-green-200 px-2 py-1 border-2 inline text-gray-800">
              {event}
            </dt>
          )
        }
        <br />
        {
          presentationTitle && (
            <dd class="text-sm font-medium text-gray-800 inline-block min-w-full min-h-full rounded-b-xl rounded-tr-xl border-2  px-2 py-1 bg-green-300">
              {presentationTitle}
            </dd>
          )
        }
      </dl>
    </div>
  </a>
</div>
