---
import { ClientRouter } from "astro:transitions";

import Navigation from "@/components/2025/Navigation";
import Footer from "@components/2025/Footer.astro";

import { SITE } from "@/config/2025/config";

export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  canonicalUrl?: URL;
  activePath: string;
}

const {
  title = SITE.title,
  description = SITE.description,
  ogImage = SITE.ogImage,
  canonicalUrl = Astro.url,
  activePath = "",
} = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={canonicalUrl} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />
    <meta property="twitter:url" content={canonicalUrl} />

    <link rel="canonical" href={canonicalUrl} />
    <link rel="icon" type="image/svg+xml" href="/icons/OSDGreen.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- View Transition -->
    <ClientRouter />

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-FF4C95VLBL"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FF4C95VLBL");
    </script>
  </head>
  <body>
    <Navigation client:only transition:persist activePath={activePath} />
    <main class="pt-16 md:pt-0 lg:pt-0" transition:animate="fade">
      <slot />
    </main>
    <Footer />
  </body>
</html>
